@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');


body {
     font-family: "Exo", sans-serif;
     background-color: #fffff2;
     font-size: 17px;
     font-weight: 400;
     margin: 0;
     height: 100%;
}
 html {
     height: 100%;
}
 h1, h2, h3, h4 {
     font-family: "Roboto", sans-serif;
     font-weight: 300;
}
 .center-title {
     margin: 1.2rem auto;
    
     margin-top: 90px;
}
 .about-us{
     margin-top: 10px;
}
 .content-container h2 {
     margin: 3rem 0;
}
 .content-container p {
     font-size: large;
     text-align:justify;
}
/* header */
 .top-bar {
    position: fixed;
    top:0px;
    z-index: 1; 
}
 
 .logo {
     margin-left: auto;
     margin-right: auto;
     max-width: 170px;
     height: 85px;
}
 .logo img {
     width: 100%;
}
 header {
     background-image: url("../images/nav.jpg");
     background-repeat: no-repeat;
     background-size: cover;
}
 .navbar-nav .nav-item .nav-link {
     font-family: "Roboto", sans-serif;
     display: inline-block;
     text-transform: uppercase;
     font-weight: 300;
     font-size: 1rem;
     position: relative;
     padding: 0.5rem 1.2rem;
     
}
 .navbar-nav .nav-item .nav-link:hover {
     color: #fff;
}
 .navbar-nav .nav-item .nav-link:hover::after, .nav-item .active::after {
     content: "";
     width: 70%;
     height: 2px;
     display: block;
     clear: both;
     background-color:#D05F59;
     margin: auto;
}
 .nav-container {
     width: 100%;
}
 .navbar-toggler {
     position: absolute;
     top: 25px;
     right: -20px;
     border: 0;
}

 .title-container, .nav-container nav {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
}
 .title-container {
     padding-bottom: 2rem;
}
/* Block dividers */
 .block-divider {
     height: 7px;
     width: 230px;
     margin-left: auto;
     margin-right: auto;
     background-color:#D05F59;
     border: 0;
     border-radius: 18px;
}
/* title containers */
 .title-container {
     padding-top: 75px;
     padding-bottom: 75px;
}

.animate__animated {
     -webkit-animation-duration: 3s;
     animation-duration: 3s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
}

.animate__fadeInDown {
     animation-duration: 3s;
}

/* action section*/
 .row-action {
     margin: 80px auto;
}
 .action {
     background: #D05F59;
     min-height: 500px;
     overflow: auto;
}
 .action-text {
     color: #ffffff;
     margin-top: 40px;
}
 .action-header {
     font-size: 35px;
     font-weight: 700;
}
 .action-sub {
     font-size: 22px;
     letter-spacing: 0.5px;
}
 .free{
     font: italic small-caps bold 15px/30px Georgia, serif;
     color: #fafafa;
}
 .btn-action {
     width: 220px;
     height: 70px;
     border: 4px solid #fff;
     box-shadow: none;
     background: transparent;
     color: #fff;
     font-size: 24px;
     text-transform: uppercase;
     margin-top: 10px;
     padding-top: 15px;
}
 .btn-action:hover {
     border-color:#EE6059;
     color:#fffff9;
}
 .cover-text{
     width: 300px;
     height: 280px;
     padding-top: 1px;
     padding-left: 10px;
     background-color: #1d2527;
     position: relative;
}
 .cover-text h3{
     color: #D05F59;
     font-weight: 900;
     font-size:100px;
}
 .cover-text p {
     color: #fafafa;
     font-style: italic;
     font-size:15px;
}
 .marshal{
     color: #D05F59;
}
/*-- Contact Section --*/
 .opening-hours td {
     color:#fafafa;
}
 .contact-box {
     background-color: #1d2527;
     color: white;
     min-height: 500px;
     background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0, 0, 0, 0.50));
     z-index:1;
     padding-bottom: 60px;
}
 .contact-details{
     margin-top: 75px;
}
 .contact-info, .opening-info, ul li {
     list-style: none;
}
 .contact-info, .opening-info, ul {
     padding: 0;
}
 .contact-info ul li i {
     margin-right: 15px;
}
 .link{
     color: #fafafa;
}
 .link:hover{
     color: #fafafa;
     text-decoration: none;
}
 .btn-sub {
     background-color: #EE6059;
     color: white;
     width: 100%;
}
 .btn-sub:hover {
     background-color:rgba(241, 109, 107, .7);
     color: white;
}
 .newsletter-signup .btn {
     width: 100%;
}
/* Features */
 .contact-info, .opening-info, .form-group, .form-header {
     text-align: center;
}
 .contact-info li, .form-group p, .opening-info td {
     text-align: justify;
}
 .button {
     background-color:#EE6059;
     display:inline-block;
     color: white;
     padding: 20px;
     margin: 4px 2px;
     font-size: 16px;
     border: none;
     border-radius: 20px;
     cursor: pointer;
     margin-bottom:30px;
}
 .get-started{
     background-color:#EE6059;
     display:inline-block;
     color: white;
     padding: 20px;
     margin: 4px 2px;
     font-size: 16px;
     border: none;
     border-radius: 20px;
     cursor: pointer;
     margin-bottom:30px;
}
 .btn-info:hover {
     background-color:rgba(241, 109, 107, .7);
     color:#fffff9;
}
 .button:hover {
    background: rgba(241, 109, 107, .7);
}
 .contact-us h5{
     font-size:45px;
     font-weight:600;
}
 .contact-us p{
     font-size:25px;
     font-style:italic;
}
 .row label + * {
     color: red;
}
 .row label{
     font-weight:bold;
     float: left;
}
 span {
     color: red;
}
 .contact-form {
     padding-left:15%;
     padding-right:15%;
}
 .form-button{
     position: relative;
     top: 1px;
     background-color: hsl(41, 100%, 55%);
     border-radius: 8px;
    /*display: inline-block;
    */
     cursor: pointer;
     color: #ffffff;
     text-decoration: none;
}
 .map-container{
     overflow: auto;
}
 .map-container iframe {
     border: none;
     width: 100%;
     height: 40rem;
     padding-left: 40px;
     padding-right: 40px;
}
 
 .i-map {
     font-size: 35px;
     color: #1EA362;
     padding-left: 10px;
}
 .locate {
     padding-left: 20px;
}
/* ----------------------------------------Footer */
 footer {
     background-image: url("../images/footer.jpg");
     background-repeat: no-repeat;
     background-size: 100% 150%;
     background-color: black;
     color: #fafafa;
     min-height: 400px;
}
 .social-links {
     padding-bottom: 30px;
}
 .social-links li a i {
     width: 37px;
     height: 37px;
     padding: 12px 0;
     border-radius: 40%;
     font-size: 27px;
     line-height: 15px;
     text-align: center;
     color: #fafafa;
     background: black;
     transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}
 .social-links li a i:hover {
     background: #e84610;
}
 #footer-details {
     padding: 20px;
     margin-top: 40px;
}
 .bg-footer {
     padding: 3rem;
}
 .copyright {
     color: #797979;
}
 .footer-container{
     background: #000;
}
 .row-footer p {
     color: #fff;
     font-size: 16px;
     margin-top: 50px;
}
 .foot-social h4 {
     margin-top: 50px;
     position: relative;
}
 .video-style{
     position: relative;
     z-index: -99;
     max-width: 100%;
     height: auto;
}

 .image-style{
     position: relative;
     z-index: -99;
     width: 100%;
     height: 100%;
}
/* Background image ised in the home page on the top */
 .main-img {
     background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.80));
     background-size: cover;  
}
 .gallery-img {
     background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0, 0, 0, 0.50));
     background-size: cover;
}
 
 .section-full{
     width: 100%;
     
     overflow: auto;
}
 .video-text{
     font-size: 28px;
     color: #fafafa;
     text-align: center;
     font-family: "Exo", sans-serif;
     text-transform: uppercase;
     letter-spacing: 0.2em;
     position: relative;
     margin-bottom: 15px;
     
      
     
     
}

.video-text2{
     font-size: 25px;
     color: #fafafa;
}
@keyframes text {
    0%{
    color:black;
    margin: -40px;
}
30%{
    letter-spacing:25px;
    margin-bottom: -40px;
}
85%{
    letter-spacing:8px;
    margin-bottom: -40px;
}
}

.video-overlay span {
    color: white;
    display: block;
}

.video-overlay {
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:9999999999;
    flex-direction: column;
    transform: translate(-50%, -50%);
    animation: text 3s 1;
     
    
}

.background-video {
     z-index: -1;
     
     width: 100%; 
     height: 100%;
     object-fit: contain;
     filter: brightness(28%); 
     position: relative;   
}
 .text {
     color: black;
     font-size: 16px;
     padding: 16px 32px;
}
 table {
     font-family: arial, sans-serif;
     border-collapse: separate;
     width: 10%;
     opacity: 1;
     font-size: 15px;
     position: relative;
     padding-bottom: 90px;
}
 .middle{
     padding-bottom: 55%;
}
 .td-left, .td-right {
     border: 3px solid none;
     text-align: left;
     padding: 3px;
}
 .td-left{
     background-color:#e84610;
     color: white;
}
 .td-right{
     background-color:white;
}
 .card-img-top {
     width: 100%;
     height: 27vw;
     object-fit: cover;
     position: relative;
}
 .classes-container {
     padding-left:9%;
     padding-right:9%;
}
 .card-title {
     text-align: center;
}
 .btn-light {
     align-items: center;
     display: flex;
     justify-content: center;
     height: 70px;
     border-radius: 60px;
     border-color:hsl(41, 100%, 55%);
     font-weight:900;
     color:#EE6059;
     font-size: 20px;
}
 .btn-light:hover {
     background:#EE6059;
     color:#fffff9;
}
 
/* Carousel */
/* Make the image fully responsive */
 .carousel-inner> .item> img {
     width: 100%;
     height: 100%;
     margin: auto;
}
 .carousel-indicators li {
     width: 7px;
     height: 7px;
     border-radius: 60%;
}
 .carousel-indicators{
     z-index: -1;
}
 .carousel-control-next, .carousel-control-prev {
     z-index: -1;
}

.d-block {
     width:1100px;
     height:750px;
}

.gallery-carousel .carousel-item {
  height: 750px;
}

.carousel-item img {
    position: relative;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 750px;
}
/* Jumbotron */
 .jumbotron {
     background: none;
     padding-bottom: 0px;
}

.custom-jumbotron {
     background: none;
     color: #fff;
     margin-top: 100px;
}
 .middle {
     transition: .5s ease;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     text-align: center;
}
 .card {
     position: relative;
     border: none;
     background-image: linear-gradient(to bottom, rgba(97, 73, 7, 0.144), rgba(245, 242, 43, 0.123));
}
 .card-img-top {
     opacity: 1;
     transition: .5s ease;
     backface-visibility: hidden;
     background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.80));
     background-size: cover;
}
 .card:hover .image {
     opacity: 0.3;
}
 .card:hover .middle {
     opacity: 1;
}

 
